*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 10px;
}
body{
    font-family: "Convergence",sans-serif;
    line-height: 1.5;
}
.hero{
    object-fit: cover;    

}
.sal-cal-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.sal-cal-form-element{
    width: 25%;
    height: 100vh;
    /* margin: 2rem;
    margin-top: 3rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}
h3{
font-size: 2rem;;
color: #38d398;
}
#re{
    cursor: pointer;
}
#re:hover{
    transform: rotate(270deg);
    transition: 2s;
    cursor: pointer;
}

/* #re-re{
    -webkit-animation: rotating 2s linear ;
    -moz-animation: rotating 2s linear ;
    -ms-animation: rotating 2s linear ;
    -o-animation: rotating 2s linear ;
    animation: rotating 2s linear ;
    cursor: pointer;
} */
/* @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  } */
#error{
    color: red;
}
.in{
    font-size: 1.5rem;
    font-weight: bold;
}

input,select{
    padding: 0.5rem 2rem;

}
button{
    background-color: #38d398;
    align-self: flex-start;
    padding: 0.5rem 2rem;
    align-self: center;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}




/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width:920px) {
    
    .sal-cal-main-container{
        flex-direction: column-reverse;
    }
    .sal-cal-form-element{
        width: 93%;
        gap:0.5rem;
    }
    .hero{
        height: 175px;
    }

}

@media screen and (max-height:650x) {
    
    .hero{
        height: 100px;
    }

}

#ot_hidder{
visibility: hidden;
opacity: 0;
}
.hider{
    visibility: hidden;
}
#table__wrapper{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




#table__container{
    border-collapse: collapse;
    width: 100%;
}
#table__container th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  #table__container td, #table__container th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table__container tr:nth-child(even){background-color: #f2f2f2;}
  
  #table__container tr:hover {background-color: #ddd;}